<nav class="col-12 navbar navbar-expand-lg navbar-light bg-light header-nav">
    <a class="navbar-brand" href="#">
      <img src="https://user-images.githubusercontent.com/32286663/38649097-49d853b2-3dba-11e8-8457-9a93e033bcc1.png" height="50" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a routerLink="/home/house" >Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a routerLink="/home/myProyects">Proyectos</a>
          </li>
          <li class="nav-item">
            <a routerLink="/home/workteam">Equipos</a>
          </li>
        </ul>
      </div>
    <div class="profile d-none d-lg-block d-lg-none">
        <p class="profile-date welcome">¡Hola Daniela!</p>
        <p class="profile-date">Front-end developer</p>
        <p class="profile-date">Jueves, 12 de abril</p>
     </div>
    <div class="float-right d-none d-lg-block d-lg-none">
           <div class="ring">
              <span class="lnr lnr-alarm"></span>
           </div>
            <div class="circle">
                <img src="https://365psd.com/images/istock/previews/9353/93539553-flat-vector-avatar-face-character-person-portrait-user-icon.jpg" alt="image-user">
            </div>
    </div>
  
    <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto d-block d-sm-none">
        <li class="nav-item active">
            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true"><span class="lnr lnr-home"></span>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Message</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Settings</a>
        </li>
      </ul>
    </div> -->
  </nav>
