<div class="container-fluid">
        <h3>Mis equipos</h3>
        <div class="row">
          <div class="col-12 col-md-4">
                  <div class="card business-tag" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    <img class="business-logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/BCP.svg/1200px-BCP.svg.png" alt="image-logo">
                    <h5 class="logo-title">Banca digital</h5><span class="lnr lnr-chevron-down"></span>
                  </div>
                <div class="collapse" id="collapseExample">
                  <div class="card card-body tag-filter">
                      <div class="btn-group-vertical" role="group" aria-label="Basic example">
                          <h5 class="title-teams">Asignados</h5>
                          <button type="button" class="btn teams text-left"><span class="lnr lnr-users"></span>Yape</button>
                          <button type="button" class="btn teams text-left"><span class="lnr lnr-users"></span>Banca Online</button>
                        </div>
                  </div>
                </div>
          </div>
          <div class="card col-12 col-md-8 scheme">
              <div class="row">
                    <div class="col-12 col-md-6">
                            <img class="business-logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/BCP.svg/1200px-BCP.svg.png" alt="image-logo">
                            <h5 class="logo-title">Banca digital</h5>
                    </div>
                    <div class="col-12 col-md-6">
                        <h6 class="project-title">Yape</h6>
                        <p class="project-description">Proyecto de diseño de experiencia de usuario para milenials</p>
                    </div>
              </div>
              <h5 class="teamTitle">Mi equipo</h5>
              <div class="card">
                  <p class="title-team-scheme">Lider</p>
                  <div class="text-center">
                      <div class="text-center">
                            <img class="circle" src="https://365psd.com/images/istock/previews/9353/93539553-flat-vector-avatar-face-character-person-portrait-user-icon.jpg" alt="image-user">
                            <h6 class="boss-info name-boss">Laura Jimenez</h6>   
                            <h6 class="boss-info boss-email">lauraJimenez@gmail.com</h6>   
                      </div>
                  </div>
              </div>
              <div class="card">
                  <p class="title-team-scheme">Colaboradores</p>
                  <div class="row">
                        <div class="col-12 col-md-6 text-center workers">
                              <img class="circle" src="https://365psd.com/images/istock/previews/9353/93539553-flat-vector-avatar-face-character-person-portrait-user-icon.jpg" alt="image-user">
                              <h6 class="boss-info name-boss">Maria Teresa</h6>   
                              <h6 class="boss-info boss-email">lilliamHaro@gmail.com</h6>   
                              <h6 class="boss-info boss-ocupation">Rol UX-Designer</h6>   
                        </div>
                        <div class="col-12 col-md-6 text-center workers">
                                <img class="circle" src="https://365psd.com/images/istock/previews/9353/93539553-flat-vector-avatar-face-character-person-portrait-user-icon.jpg" alt="image-user">
                                <h6 class="boss-info name-boss">Lilliam Haro</h6>   
                                <h6 class="boss-info boss-email">lilliamHaro@gmail.com</h6>  
                                <h6 class="boss-info boss-ocupation">Rol Front-end developer</h6>
                          </div>
                    </div>
              </div>
          </div>
        </div>
      </div>
