<section class="container-fluid">
  <div class="row bg">
    <div class="col-12 col-lg-5 padding">
      <nav class="navbar navbar-light nav-logo">
        <a class="navbar-brand" href="#">
          <img src="https://user-images.githubusercontent.com/32286663/38649097-49d853b2-3dba-11e8-8457-9a93e033bcc1.png" width="100" height="70" class="d-inline-block align-top" alt="logo-everis">
        </a>
      </nav>
      <br>
      <br>
      <br>
      <h3 class="text-welcome text-center">BIENVENIDO(A) A NUESTRA COMUNIDAD VIRTUAL</h3>
      <br>
      <h4 class="text-muted text-center">INICIA SESIÓN</h4>
      <br>
      <div class="box-form">
        <div class="container-fluid">
          <form>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><span class="lnr lnr-user"></span></div>
                </div>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="lemail" [(ngModel)]="email" #lemail="ngModel">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><span class="lnr lnr-lock"></span></div>
                </div>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="lpassword" [(ngModel)]="password" #lpassword="ngModel">
              </div>
            </div>
            <br>
            <div class="row btn-submit">
              <button type="submit" class="btn btn-primary bg-btn" (click)="logIn()">Ingresar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="d-none d-lg-block col-lg-7 bg-image"></div>
  </div>
</section>
  